body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
  
  #canvas1 {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
  }
  
  #interactive-components {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 0.5%;
  }
  
  #pattern-select,
  #fileupload {
    margin-right: 10px;
  }
  #audio1 {
    width: 50%;
    margin-right: 10px;
  }